{% extends "base.html" %}
{% load static %}

    {% block content %}
 
                            
    <div class="container">
        <div class="col-md-9">

          <h1>Sales Report</h1>
          <form method="GET" action="{% url 'get_sales_data' %}">
              <label for="start_date">Start Date:</label>
              <input type="date" id="start_date" name="start_date" class="form-control">
              <label for="end_date">End Date:</label>
              <input type="date" id="end_date" name="end_date" class="form-control">
              <input type="submit" value="Get Sales Data" class="form-control mt-4 btn btn-outline-primary">
          </form>
       
            
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>                      
           
    <a href="{% url 'download_sales_report' %}">Download Sales Report</a>   


    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{monthNumber |safe}},
            datasets: [{
              label: 'orders by month',
              data: {{totalOrders}},
              borderWidth: 1,
            },
            ],
            
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
            
    {% endblock content %}